@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    font-weight: 700;
}

*,*::after,*::before {
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.header {
    margin-top: 20px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    flex-wrap: wrap;
}

.header__logo {
    width: 180px;
}

.header__user {
    display: flex;
}

.header__balance {
    font-size: 40px;
    margin-right: 20px;
    margin-top: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    margin-top: 80px;
}

.selector {
    text-align: center;
}

.selector__number {
    font-size: 100px;
}

.selector__inner {
    display: flex;
    gap:40px;
    justify-content: center;
}

.selector__item {
    text-align: center;
    margin-top: 60px;
}

.selector__button-red {
    background-color: #FF0000;
    padding: 25px 100px;
    border:1px solid transparent;
}

.selector__button-red:hover {
    border: 1px solid #FF0000;
}

.selector__button-red:active {
    background-color: #000;
    color: #FF0000;
    transition-duration: 0s;
}

.selector__button-green {
    background-color: #00FF57;
    padding: 25px 100px;
    border:1px solid transparent;

}

.selector__button-green:hover {
    border: 1px solid #00FF57;
}

.selector__button-green:active {
    background-color: #000;
    color: #00FF57;
    transition-duration: 0s;    
}

.button {
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000;
    border-radius: 30px;
    transition-duration: .2s;
    font-size: 30px;

}

.selector__x-red {
    color: #FF0000;
    font-size: 50px;
    margin-top: 10px;

}

.selector__x-green {
    color: #00FF57;
    font-size: 50px;
    margin-top: 10px;

}

.selector__text {
    margin-top: 10px;
    font-size: 30px;
    max-width: 220px;
    margin: 0 auto;
}

.bet__body {
    text-align: center;
    margin-top: 50px;
}

.bet__title {
    font-size: 40px;
    margin-bottom: 20px;
}

.bet__change {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.bet__input {
    background-color: black;
    border: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

input {outline:none;}


.bet__item {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: black;
    border-radius: 15px;
    padding: 0 5px;
    font-weight: 700;
    margin-top: 15px;
    max-width: 100px;
    width: 100%;
    border: 1px solid black;
    transition-duration: .2s;    
}

.bet__item:hover {
    border: 1px solid white;    

}

.bet__item:active {
    background-color: #000;
    color: white;
    transition-duration: 0s;
} 

.bet__balance {
    margin-top: 40px;
    font-weight: 700px;
    font-size: 40px;
    
}

.footer {
    margin-top: 50px;
    text-align: center;
}

.footer__text {
    font-size: 40px;
    color: rgba(255, 255, 255, 36%);
    margin-bottom: 30px;
    font-weight: normal;
}

.green-color {
    color: #00FF57;;
}

.red-color {
    color: #FF0000;
}




@media (max-width: 992px) {
    .footer__text {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .header__user {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    .header__body {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .selector__button-green{
        padding:15px 80px;
        border-radius: 15px;
    }

    .selector__button-red {
        padding:15px 80px;
        border-radius: 15px;
    }

    .selector__inner {
        gap:30px;
    }
    .bet__change {
        gap:20px;
    }
    .bet__item {
        font-size: 30px;
        max-width: 100px;
        border-radius: 10px;
    }
    .bet__balance {
        font-size: 30px;
    }
    .bet__title {
        font-size: 30px;
    }
    .selector__text {
        font-size: 20px;
        max-width: 150px;
    }
    .selector__number {
        font-size: 70px;
    }
    .bet__input {
        max-width: 200px;
    }
    .selector__x-green {
        font-size: 40px;
    }
    .selector__x-red {
        font-size: 40px;
    }
    .header__title {
        font-size: 60px;
        margin: 30px 0;
    }

    .header__title {
        font-size: 40px;   
    }
    .main {
        margin-top: 20px;
    }
    .selector__item {
        margin-top: 15px;            
    }
    .selector__button-green{
        padding:5px 30px;
        border-radius: 15px;
    }

    .selector__button-red {
        padding:5px 30px;
        border-radius: 15px;
    }
    .bet__body {
        margin-top: 15px;
    }
    .bet__item {
        max-width: 70px;
    }
}
